/* Estilos para o carrossel de vídeos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}

.titulo {
    text-align: center;
}

.carousel-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Adicione esta linha para fazer com que os elementos se empilhem verticalmente */
    align-items: center;
    display: none;
}

.carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    gap: 20px;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel-item video {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.carousel-controls {
    margin-top: 10px;
    text-align: center;
    display: flex;
}

#prevBtn,
#nextBtn {
    background-color: transparent;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 24px;
    margin-top: 10px; /* Adicione margem superior para espaçar os botões */
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(0, 123, 255, 0.3);
    color: #0056b3;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8%;
    background-color: #f8f9fa;
    overflow: hidden; /* Impede que o conteúdo adicional gere uma barra de rolagem */
}

.loading-content {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #495057;
}

.loading button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.loading button:hover {
    background-color: #0056b3;
}