/* section.banner{ */
    /* width: 800px;
    height: 600px; */
    /* margin: 0 2%; */
/* } */
section img{
    width: 100%;
    text-align: center;
}

.w100 img{
    width: 100%;
    margin: 0 auto;
    box-shadow: #00000071 0px 3px 8px;
    
}

 .texto h2 {
    padding-top: 5px;
    font-size: 25px;
    margin-bottom: 25px;
}

.texto p {
    padding-top: 5px;
    font-size: 18px;
    margin-bottom: 15px;
    /* padding-right: 50px; */
    /* text-align: start; */
    /* padding-bottom: 15px; */
}